@using Microsoft.AspNetCore.Components.Routing

<PageTitle>Orders</PageTitle>

@if (id is null)
{
    <h2>All Orders</h2>
}
else
{
    <h2>Order ID: @id</h2>
}
<a @onclick="@(() => NavigationManager.NavigateTo("orders/1"))" class="btn btn-primary">
    Go to Order 1
</a>
<a @onclick="@(() => NavigationManager.NavigateTo("orders/1/details/1"))" class="btn btn-primary">
    Go to Order Details
</a>
<a @onclick="@(() => NavigationManager.NavigateTo("orders/1/details/1/some-slug"))" class="btn btn-primary">
    Go to Order Details with Slug
</a>

<Outlet />


