@page "/details/{LineId:int}/{*Slug}"

<p>Order details for ID: @LineId will be displayed here.</p>
@if (!string.IsNullOrEmpty(Slug))
{
    <p>Slug: @Slug</p>
}

@code {

    [Parameter]
    public int LineId { get; set; }

    [Parameter]
    public string Slug { get; set; } = string.Empty;
}
