@if (RouteContext?.Matched is not null)
{
    @if (_loading)
    {
        @if (NavigationProgress is not null)
        {
            @NavigationProgress
        }
        else
        {
            <p>Loading...</p>
        }
    }
    else if (_loaderException is not null)
    {
        @if (RouterErrorContent is not null)
        {
            @RouterErrorContent(_loaderException)
        }
        else
        {
            <div class="loader-error">
                <p>Error: @_loaderException.Message</p>
            </div>
        }
    }
    else
    {
        <ErrorBoundary>
            <ChildContent>
                <CascadingValue Value="_loaderData">
                    <CascadingValue Value="RouteContext.RemainingSegments">
                        <DynamicComponent Type="RouteContext.Matched.Component"
                                          Parameters="RouteContext.RouteValues" />
                    </CascadingValue>
                </CascadingValue>
            </ChildContent>
            <ErrorContent Context="error">
                @if (RouterErrorContent is not null)
                {
                    @RouterErrorContent(error)
                }
                else
                {
                    <div class="outlet-error">
                        <p>Error: @error.Message</p>
                    </div>
                }
            </ErrorContent>
        </ErrorBoundary>
    }
}
