@if (_loading)
{
    <p>Loading...</p>
}
else if (_loaderException is not null)
{
    <p>Error: @_loaderException.Message</p>
}
else
{
    <ErrorBoundary>
        <ChildContent>
            <CascadingValue IsFixed="true" Value="_loaderData">
                <CascadingValue IsFixed="true" Value="RemainingSegments">
                    <DynamicComponent Type="RouteEntry.Component" Parameters="RouteValues" />
                </CascadingValue>
            </CascadingValue>
        </ChildContent>
        <ErrorContent Context="error">
            @if (RouterErrorContent is not null)
            {
                @RouterErrorContent(error)
            }
            else
            {
                <div class="route-error">
                    <p>Route Error: @error.Message</p>
                </div>
            }
        </ErrorContent>
    </ErrorBoundary>
}