@if (_isNavigating && NavigationProgress is not null)
{
    @NavigationProgress
}
else if (_navigationError is not null)
{
    @if (ErrorContent is not null)
    {
        @ErrorContent(_navigationError)
    }
    else
    {
        <div class="router-navigation-error">
            <h1>Navigation Error</h1>
            <p>@_navigationError.Message</p>
        </div>
    }
}
else if (_current?.Matched is null)
{
    @NotFound
}
else
{
    <CascadingValue Value="_routeTable">
        <CascadingValue Value="ErrorContent" Name="RouterErrorContent">
            <CascadingValue Value="NavigationProgress" Name="NavigationProgress">
                <ErrorBoundary>
                    <ChildContent>
                        <ModernRouter.Components.RouteView RouteEntry="_current.Matched"
                                                           RemainingSegments="_current.RemainingSegments"
                                                           RouteValues="_current.RouteValues" />
                    </ChildContent>
                    <ErrorContent Context="error">
                        @if (ErrorContent is not null)
                        {
                            @ErrorContent(error)
                        }
                        else
                        {
                            <div class="router-error">
                                <h1>Router Error</h1>
                                <p>@error.Message</p>
                            </div>
                        }
                    </ErrorContent>
                </ErrorBoundary>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
}