@inherits LayoutComponentBase
<div class="container">
    <Breadcrumbs Separator=" › "
                 CssClass="my-3"
                 CustomLabels="@(new Dictionary<string, string> { {"home", "Dashboard"} })" />

    @Body
</div>