@inherits LayoutComponentBase
<div class="container">
    <Breadcrumbs HomeLabel="Dashboard"
                 Separator=" › "
                 CssClass="my-3"
                 CustomLabels="@(new Dictionary<string, string> { {"admin", "Administration"} })" />

    @Body
</div>